*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Barlow";
    src:url(./assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf) format("truetype");
}

:root{
    --primary-purple-50:hsl(260, 100%, 95%);
    --primary-purple-300:hsl(264, 82%, 80%);
    --primary-purple-500:hsl(263, 55%, 52%);

    --neutral-white:hsl(0, 0%, 100%);
    --neutral-grey-100:hsl(214, 17%, 92%);
    --neutral-grey-200:hsl(0, 0%, 81%);
    --neutral-grey-400:hsl(224, 10%, 45%);
    --neutral-grey-500:hsl(219, 29%, 14%);
    --neutral-black:hsl(0, 0%, 7%);

    --our-font:"Barlow",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-normal:13px;

    --font-regular:500;
    --font-bold:600;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 2rem;
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    font-family: var(--our-font);
    color: var(--neutral-white);
    box-shadow: 20px 20px 20px var(--neutral-grey-200);

    /* transition: all 1s ease-in-out; */
}
.profile-info{
    display: flex;
}
.profile-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-picture-container{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--primary-purple-300);
    display: flex;
    align-items: center;
}
.profile-picture-container img{
    width: 100%;
    object-fit:contain;
}
.profile-name-contianer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.verification-state{
    font-size: 0.8rem;
    color: inherit;
    font-weight: var(--font-regular);
}
.main-text p{
    font-weight: var(--font-regular);
    font-size: 1.5rem;
}
.full-description p{
    color: inherit;
}
.card-purple{
    background-color: var(--primary-purple-500);
    background-image: url(./assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0%;
}
.deniel-description{
    color: var(--primary-purple-50);
}
.card-jonathan{
    background-color: var(--neutral-grey-400);
}
.noborder-pfp-container{
    border: none;
}
.jonathan-description p{
    color: inherit;
}
.kira-container, .jeanette-container{
    color: var(--neutral-grey-400);
}
.patrick-container{
    background-color: var(--neutral-grey-500);
}
.purple-border{
    border-color: var(--primary-purple-500);
}
.full-description p{
    line-height: 1.5rem;
}
.main-text p{
    line-height: 2rem;
}


/* NOW THE GRID SHITTTT */

.testimonial-grid{
    display: grid;
    gap:2rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
    padding-block: 2rem; 
    width: min(95%, 80rem);
    margin-inline: auto;
}
.card-purple{
    grid-area: one;
}
.card-jonathan{
    grid-area: two;
}
.jeanette-container{
    grid-area: three;
}
.patrick-container{
    grid-area: four;
}
.kira-container{
grid-area: five;
}


/* .card:hover{
    position: absolute;
    z-index: 100;
    width: 50vw;
    scale: 1.1;
    box-shadow: 0px 0px 20px red;
} */

@media (min-width:30em){
.testimonial-grid{
    grid-template-areas: 
    "one one"
    "two five"
    "three five"
    "four four";
}
}

@media (min-width:50em){
    /* .testimonial-grid{
        grid-template-columns:repeat(4, 1fr);
    }
    .testimonial:last-child{
    grid-column-start: 4;
    grid-row: 1/ span 2;
}
.grid-col-span-2{
    grid-column: span 2;
} */
.testimonial-grid{
    grid-template-areas: 
    "one one two five"
    "three four four five";
}
}


